          <div class="block">
            <div class="inner">
              This design is named "Untitled" because I really couldn't comeup with a title. Thanks Mejobloggs for bug fixing and cross browser testing. As usual the template is free for any use.
            </div>
          </div>
          <h3>Site News</h3>
          <p>
            Long long ago so long ago, noone knew how long ago, there lived a king. The king was very proud of his country and did all good things to his country. Long long ago so long ago, noone knew how long ago, there lived a king. The king was very proud of his country and did all good things to his country.
          </p>
          <blockquote><p>"Simplicity is the ultimate sophistication..."</p></blockquote>
          <p>
            <a href="#">This is a test link</a>
          </p>
           Unordered List
            <ul>
              <li>List element</li>
              <li>List element</li>
              <li>List element</li>
            </ul>
           Ordered List
            <ol>
              <li>List element</li>
              <li>List element</li>
              <li>List element</li>
            </ol>
          <p>
            <input type="text" class="text_box"></input> <br />
            <input type="button" value="Test Button" class="button"></input>
          </p>
          <table>
            <tr>
              <th>header 1</th>
              <th>header 2</th>
            </tr>
            <tr>
              <td>content 1</td>
              <td>content 2</td>
            </tr>
          </table>
        </div>
